*{
    margin: 5px;
    padding: 5px;
}
img{
        width: 100%;
        height: 300px; 
        background-size: cover;
      
}
h1 {
    color: #3f3434; 
    font-size: 36px; 
    font-family: Arial, sans-serif; 
    text-align: left; 
    margin-top: 0px; 
}

.secciones{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    display:grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 2fr 1fr 4fr 1fr;
    grid-template-areas: "header header"
    "from menu"
    "body menu"
    "footer menu";
}
.page .bodyContent{
    background-color: rgb(228, 210, 197);
    grid-area: body;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.page .headerContent{
    background-color: rgb(63, 33, 197);
    grid-area: header;
    align-items: center;
}
.page  .menuContent{
    background-color: rgb(1, 64, 238);
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:baseline;
 
}
body {
    background-image: url('PAGUINA.jpeg');
    background-size: cover;
    background-position: center;
}




