.page .headerContent{
    background-color: rgb(63, 33, 197);
    grid-area: header;
    align-items: center;}
.page.fromsearch{
    background-color: rgb(28, 102, 102);
    grid-area: from;
}
.page .bodyContent{
    background-color: rgb(228, 210, 197);
    grid-area: body;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.page.bodyContent.tituloArticulo{
    width: 100%;
    text-align: center;
}
.producto{
    width: 250px;
    border: 1px solid #000;
    border-radius: 16px;
    margin: 16px;
    padding: 8px;
}

.producto.descripcion{
    display: none;
}
.producto:hover{
    border-color: blue;
}
.producto:hover .descripcion{
    display: block;
    color: blueviolet;
}

/*.page .footerContent{
    background-color: burlywood;
    grid-area: footer;
}*/
.btn{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: 0%;
}

h1 {
    color: #3f3434; 
    font-size: 36px; 
    font-family: Arial, sans-serif; 
    text-align: left; 
    margin-top: 0px; 
}